<div class="chapter-title">
  <% @novel = Novel.find_by_id(@chapter.novel_id) %>
  <%= link_to @novel.title, novel_path(@novel.code) %><span>>></span> 
  Chapter <%= @chapter.chapter_number %>
</div>
<div class="chapter-content">
  <%= @chapter.content.html_safe %>
</div>
