// Place all the styles related to the chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chapter-content{
  font-size: 24px;
  font-family: Arial;
}

.chapter-content p{
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.8rem;
  font-weight: 400;
}

.chapter-title{
  font-size: 1rem;
  font-weight: 400;
  margin: 5px 0 5px 0;
}

.chapter-title span{
  font-size: .75rem;
  margin-left: 10px;
  margin-right: 5px;
}
