header{
  border-bottom: 4px solid rgba(0,0,0,.1);
  padding-bottom: 5px;
  padding-top: 5px;
  background: #1a1c22;
}

.links{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

 nav{
   position: relative;
   color: #fff;
   ul{

     li{
       float:left;

       a{
         display: block;
         padding: 0 15px;
         color: #fff;

         &:hover{
           text-decoration: none;
           color: #555;
         }
       }
     }
   }

   &:after{
     content: '';
     display: table;
     clear: both;
   }
 }

.logo{
  float:left;

  a{
    display: block;
    width: 110px;
    height: 54px;
    background: #fff url('gravitytales.jpg') no-repeat 5px 5px;
    background-size: contain;
    text-indent: -9999px;
    border-radius: 4px;
  }
}

.search-parent{
  float:left;
  padding-left: 15px;
  padding-right: 15px;
}

.search{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  input[type="text"], button{
    height: 36px;
    border-radius: 4px;
    background: #fff;
    color: #000;
  }
  input[type="text"]{
    text-indent: 10px;
    width: 350px;
  }
}
