// Place all the styles related to the novels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$form-width: 350px;

.novel-form{
  border-radius: 6px;

  input[type="text"], input[type="password"]{
    width: $form-width;
    height: 25px;
    border-radius: 6px;
    text-indent: 5px;
  }

  .textarea{
    width: $form-width;
    height: 350px;
    border-radius: 6px;
  }

  .summary{
    width: $form-width;
  }
  span{
    color: red;
    font-size: 10px;
    position: relative;
    vertical-align: text-top;
  }

  input[type="submit"]{
    background: #fff;
    color: #000;
    width: 150px;
    height: 36px;
    border-radius: 6px;

    &:hover{
      background: #000;
      color: #fff;
    }
  }
}

.backlink{
  display: block;
  text-decoration: none;
  margin-top: 20px;

  &:before{
    content: '« '
  }

  &:hover{
    text-decoration: underline;
  }
}

.novel-holder{
  height: 250px;

}

.novelbox{
  float: left;
  position: relative;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 10px;
  width: 175px;
  height: 250px;
  background: #1b1b1b url('no-image.png') center center no-repeat;
  background-blend-mode: overlay;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.publish-date{
  position: absolute;
  bottom: 5px;
  text-align: center;
  left: 0;
  right: 0;
  color: #fff;
  font-size: .75rem;
  font-weight: lighter;
}

.novel-overlay{
  position: absolute;
  top: 65%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .55;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chapter-number{
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  font-size: .875rem;
  font-family: sans-serif;
  font-weight: bold;
}

.novel-title{
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
}

.novelbox a{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 175px;
  height: 250px;
  text-indent: -9999px;

}
