status// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero{
  position: relative;
  height: 200px;
  vertical-align: middle;
  text-align: center;
}

.hero p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero-container{
  position: absolute;
  left: 0;
  right: 0;
  background: darkgreen;
  min-height: 200px;
}

@media (min-width: 768px) {

  .hero{
    position: relative;
    height: 200px;
    vertical-align: middle;
    text-align: center;
  }

  .hero p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-container{
    position: absolute;
    left: 0;
    right: 0;
    background: darkgreen;
    min-height: 200px;
  }
}
