// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 400px;
  background: darkgreen;
}

@media (min-width: 768px) {
  .hero{
    display: block;
  }
}
